* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin-top: 40px;

    .header {
        margin: 0px auto;
        width: 1190px;
        display: flex;
        font-family: 'Montserrat', sans-serif;
        justify-content: space-between;

        .logo {
            width: 80%;
            height: 80%;
            cursor: pointer;
        }

        .navbar {
            list-style: none;
            display: flex;
            margin-left: 350px;
            font-size: 14px;
            font-weight: 400;
            cursor: pointer;
            justify-content: right;

            a {
                text-decoration: none;
                margin-left: 40px;
                color: #2e2e2e;
            }

            li:hover {
                text-decoration: underline;
                text-underline-offset: 10px;
            }
        }

        .shopping_bag {
            i {
                width: 18px;
                height: 24px;
            }

            span {
                font-size: 14px;

                &:hover {
                    text-decoration: underline;
                    text-underline-offset: 10px;
                }
            }

        }

    }
}

#home {
    background-image: url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/tixlyvnpr7/nynne-schroder-unsplash-A0xnbgZ4WxTJlN3R.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        width: 1190px;
        height: 90vh;
        margin: auto;

        .col-6 {
            width: calc(100%/2);

            .home_text {
                width: 490px;
                color: #2e2e2e;
                padding-top: 200px;

                h1 {
                    font-family: 'Prata', serif;
                    font-size: 48px;
                    font-weight: lighter;
                }

                p {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 16px;
                    margin-top: 35px;
                    margin-bottom: 40px;
                    line-height: 22px;
                }

                .home_button {
                    background-color: #2E2E2E;
                    color: white;
                    font-size: 14px;
                    font-family: 'Montserrat', sans-serif;
                    width: 183px;
                    height: 51px;
                    border: 0;
                    cursor: pointer;

                    &:hover {
                        opacity: .9;
                    }
                }
            }
        }
    }

}

#baby_accessories {
    .container {
        width: 1190px;
        height: 90vh;
        margin: auto;
    }

    .baby_accessories-text {
        width: 570px;
        margin: auto;
        text-align: center;
        padding: 60px 0px;

        h2 {
            font-size: 40px;
            font-family: 'Prata', sans-serif;
            font-weight: 500;
            color: #2e2e2e;
        }

        p {
            margin-top: 30px;
            font-size: 16px;
            font-family: 'Montserrat', sans-serif;
            color: #2e2e2e;

        }

    }

    .baby_accessories-summary {
        display: flex;
        justify-content: space-between; ///bu niye islemir???

        .col-lg-4 {
            width: calc(100%/3);


            .accessories_button {
                justify-content: center;
                width: 163px;
                margin: auto;
                margin-top: -25px;

                &:hover {
                    opacity: .9;
                }

                .accessories_button-item {
                    height: 51px;
                    font-family: 'Montserrat', sans-serif;
                    font-size: 14px;
                    color: white;
                    background-color: #2e2e2e;
                    cursor: pointer;
                    border: 0px;
                    padding: 16px 48px;
                }
            }
        }
    }
}


#our_story {
    margin-top: 200px;

    .container {
        width: 1190px;
        height: 90vh;
        margin: auto;
        display: flex;


        .our_story-text {
            width: 490px;

            h3 {
                font-size: 16px;
                color: #2e2e2e;
                font-family: 'Montserrat', sans-serif;
                font-weight: 400;
            }

            h2 {
                margin-top: 40px;
                font-size: 40px;
                font-family: 'Prata', sans-serif;
                color: #2E2E2E;
                font-weight: 400;
            }

            p {
                margin-top: 50px;
                font-size: 16px;
                color: #2e2e2e;
                font-family: 'Montserrat', sans-serif;
                line-height: 22px;
            }

            .our_story-button {
                &:hover {
                    opacity: .9;
                    cursor: pointer;
                }

                .discover {
                    margin-top: 50px;
                    width: 171px;
                    height: 51px;
                    background-color: #2E2E2E;
                    font-size: 14px;
                    color: white;
                    border: 0;
                }
            }
        }

        .our_story_image {
            img {
                margin-left: 205px;
                width: 500px;
                height: 560px;
            }
        }

    }

}

@media screen and (min-width:431px) and (max-width:921px) {
    #home{
    background-image: url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/tixlyvnpr7/nynne-schroder-unsplash-A0xnbgZ4WxTJlN3R.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        width: 1190px;
        height: 90vh;
        margin: auto;

        .col-6 {
            width: calc(100%/2);

            .home_text {
                width: 226px;
                color: #2e2e2e;

                h1 {
                    font-family: 'Prata', serif;
                    font-size: 32px;
                    font-weight: lighter;
                }

                p {
                    font-family: 'Montserrat', sans-serif;
                    font-size: 16px;
                    margin-top: 35px;
                    margin-bottom: 40px;

                }

                .home_button {
                    background-color: #2E2E2E;
                    color: white;
                    font-size: 14px;
                    font-family: 'Montserrat', sans-serif;
                    width: 183px;
                    height: 51px;
                    border: 0;
                    cursor: pointer;

                    &:hover {
                        opacity: .9;
                    }
                }
            }
        }
    }
    #baby_accessories {
        .container {
            width: 1190px;
            height: 90vh;
            margin: auto;
        }
    
        .baby_accessories-text {
            width: 570px;
            margin: auto;
            text-align: center;
            padding: 60px 0px;
    
            h2 {
                font-size: 40px;
                font-family: 'Prata', sans-serif;
                font-weight: 500;
                color: #2e2e2e;
            }
    
            p {
                margin-top: 30px;
                font-size: 16px;
                font-family: 'Montserrat', sans-serif;
                color: #2e2e2e;
    
            }
    
        }
    
        .baby_accessories-summary {
            display: flex;
            justify-content: space-between; ///bu niye islemir???
    
            .col-lg-4 {
                width: calc(100%/3);
    
    
                .accessories_button {
                    justify-content: center;
                    width: 163px;
                    margin: auto;
                    margin-top: -25px;
    
                    &:hover {
                        opacity: .9;
                    }
    
                    .accessories_button-item {
                        height: 51px;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 14px;
                        color: white;
                        background-color: #2e2e2e;
                        cursor: pointer;
                        border: 0px;
                        padding: 16px 48px;
                    }
                }
            }
        }
    }
}
}
@media screen and (min-width:921px) and (max-width:958px) {
    #home {
        background-image: url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/tixlyvnpr7/nynne-schroder-unsplash-A0xnbgZ4WxTJlN3R.jpg");
        background-repeat: no-repeat;
        background-size: cover;

        .container {
            width: 1190px;
            height: 90vh;
            margin: auto;

            .col-6 {
                width: calc(100%/2);

                .home_text {
                    margin-left: 60px;
                    width: 340px;
                    color: #2e2e2e;

                    h1 {
                        font-family: 'Prata', serif;
                        font-size: 48px;
                        font-weight: lighter;
                        width: 60px;
                    }

                    p {
                        font-family: 'Montserrat', sans-serif;
                        font-size: 16px;
                        margin-top: 35px;
                        margin-bottom: 40px;

                    }

                    .home_button {
                        background-color: #2E2E2E;
                        color: white;
                        font-size: 14px;
                        font-family: 'Montserrat', sans-serif;
                        width: 183px;
                        height: 51px;
                        border: 0;
                        cursor: pointer;

                        &:hover {
                            opacity: .9;
                        }
                    }
                }
            }
        }
    }
     #baby_accessories {
        .container {
            width: 500px;
            height: 90vh;
            margin: auto;
        }
    
        .baby_accessories-text {
            width: 570px;
            margin: auto;
            text-align: center;
            padding: 60px 0px;
    
            h2 {
                font-size: 40px;
                font-family: 'Prata', sans-serif;
                font-weight: 500;
                color: #2e2e2e;
            }
    
            p {
                margin-top: 30px;
                font-size: 16px;
                font-family: 'Montserrat', sans-serif;
                color: #2e2e2e;
    
            }
    
        }
    
        .baby_accessories-summary {
            display: flex;
            justify-content: space-between; ///bu niye islemir???
    
            .col-lg-4 {
                width: calc(100%/3);
    
    
                .accessories_button {
                    justify-content: center;
                    width: 163px;
                    margin: auto;
                    margin-top: -25px;
    
                    &:hover {
                        opacity: .9;
                    }
    
                    .accessories_button-item {
                        height: 51px;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 14px;
                        color: white;
                        background-color: #2e2e2e;
                        cursor: pointer;
                        border: 0px;
                        padding: 16px 48px;
                    }
                }
            }
        }
    }
}
    
