*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    margin-top: 40px;
}
.container{
    margin:0px auto;
    width: 1190px;
    height: 50px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    width: 80%;
    height: 80%;
}
.navbar{
    list-style: none; 
    display: flex;
}
.navbar a{
    text-decoration: none;
    margin-left: 40px;  
}
.navbar>li:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
}
.navbar a,.shopping_bag span{
    color: #2e2e2e;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    justify-content: right;
}
.shopping_bag i{
    width: 18px;
    height: 24px;
}
.shopping_bag span:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
}

#home{
    width: 100%;
    height: 70vh;
    background-image:url("https://assets.zyrosite.com/cdn-cgi/image/format=auto,w=1920,fit=crop/tixlyvnpr7/nynne-schroder-unsplash-A0xnbgZ4WxTJlN3R.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}
.home_text{
    width: 490px;
    color: #2e2e2e; 
}
.home_text h1{
    font-family: 'Prata', serif;
    font-size: 48px;
    font-weight: lighter;
}
.home_text p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}
